<?xml version="1.0" encoding="UTF-8"?>
<widget id="at.wifiwien.wienwou" version="0.1.0-b003" xmlns="http://www.w3.org/ns/widget" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>SheetHero</name>
  <description>Learn Sheet music the easy way!</description>
  <author email="manuel.czapek@gmx.net" href="http://www.wifiwien.at">
    Team Manuel
  </author>
  <content src="index.html" />
  <preferences name="android-minSdkVersion" value="26" />
  <preference name="Orientation" value="landscape" />

  <!-- fullscreenmods für Appgefühl -->
  <preference name="Fullscreen" value="true" />



  <platform name="android">

  </platform>

</widget>
